body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .risky {
    background-color: #089dedd9;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 0px;
  }
  
  .barkanan {
    font-size: 24px;
    list-style: none;
    display: flex;
    flex-direction: none;
    gap: 20px;
    margin-left: -20px; 
  }
  
  .barkiri {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
  }
  
  .barkiri li a,.barkanan li a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .barkiri li a:hover, .barkanan li a:hover {
    color: #000000be;
  }

  .judul-list {
    font-size: 24px;
  }

  .atur {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
  }
  
  .list-berita {
    border: 5px solid #089dedd9;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    padding: 10px;
    margin-top: 0px;
    max-width: 900px;
    min-width: 260px;
  }
  
  .atur-berita {
    border: 1px solid #060606;
    padding: 10px;
    display: flex;
    display: table-column;
    flex: 1;
    gap: 20px;
  }
  
  .judul-berita {
    font-size: 18px;
  }
  
  .deskripsi-berita {
    color: #666;
  }

  .agenda-items {
    border: 5px solid #089dedd9;
    list-style: none;
    padding: 0;
    margin:0;
  }
  
  .agenda-items li {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    padding: 10px;
  }

  /* Gaya untuk footer */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #089dedd9;
  color: white;
}
